/.idea
/servlet2.5-springmvc2.5.x-helloworld/*.iml
/servlet2.5-helloworld/*.classpath
/.settings
/servlet2.5-helloworld/.settings
/servlet2.5-springmvc-helloworld/*.classpath
/servlet2.5-springmvc-helloworld/.settings
/servlet3.0-helloworld/.settings
/servlet3.0-springmvc-helloworld/*.project
/servlet3.0-springmvc-helloworld/.settings
/servlet3.0-springmvc-helloworld/*.classpath
/servlet2.5-helloworld/*.project
/servlet2.5-springmvc-helloworld/*.project
/servlet2.5-springmvc-helloworld/*.gitignore
/servlet2.5-helloworld/*.gitignore
/servlet3.0-helloworld/*.classpath
/servlet3.0-helloworld/*.gitignore
/servlet3.0-helloworld/*.project
/servlet3.0-springmvc-helloworld/*.gitignore
/*.project
/servlet3.0-springmvc-helloworld3/.settings
/servlet3.0-springmvc-helloworld3/*.classpath
/servlet3.0-springmvc-helloworld3/*.gitignore
/servlet3.0-springmvc-helloworld3/*.project
/servlet3.0-springmvc-helloworld1/*.classpath
/servlet3.0-springmvc-helloworld1/*.gitignore
/servlet3.0-springmvc-helloworld1/.settings/*.jsdtscope
/servlet3.0-springmvc-helloworld1/.settings
/servlet3.0-springmvc-helloworld1/*.project
/servlet3.0-springmvc-helloworld2/*.project
/servlet3.0-springmvc-helloworld2/.settings/*.prefs
/servlet3.0-springmvc-helloworld2/*.classpath
/servlet3.0-springmvc-helloworld2/*.gitignore
/servlet3.0-springmvc-helloworld2/.settings/*.jsdtscope
/servlet3.0-springmvc-helloworld2/.settings/*.component
/servlet3.0-springmvc-helloworld2/.settings
/servlet3.0-springmvc-helloworld1_1/.settings/*.prefs
/servlet3.0-springmvc-helloworld1_1/.settings/*.jsdtscope
/servlet3.0-springmvc-helloworld1_1/*.classpath
/servlet3.0-springmvc-helloworld1_1/.settings/*.component
/servlet3.0-springmvc-helloworld1_1/.settings
/servlet3.0-springmvc-helloworld1_1/*.project
/servlet3.0-springmvc-helloworld1_1/*.gitignore
